.header {
    background: var(--white, #FFF);
}

.body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

ul,
ol {
    list-style-type: none;
}

.logo {
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.title-studio {
    width: 71px;
    color: var(--navyblue, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.menu {
    color: var(--navyblue, #2E2F42);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.contacts {
    color: var(--slate, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.effective-button {
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}

.effective {
    color: var(--white, #FFF);
    text-align: center;
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: 1.12px;
}

.button {
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
}

.order-button {
    color: var(--white, #FFF);
    /* Button Text */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
}

.target {
    color: var(--navyblue, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;

}

.text {
    color: var(--slate, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.team {
    flex-shrink: 0;
    background: var(--cloud, #F4F4FD);
}

.portfolio {
    background: #FFF;
}

.title {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.warp {
    justify-content: center;
    background: var(--white, #FFF);
}

.name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.specialist {
    color: var(--slate, #434455);
    text-align: center;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.heading {
    color: var(--navyblue, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.desc {
    color: var(--slate, #434455);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.footer {
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}

.logo-down {
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.title-studio-down {
    color: var(--cloud, #F4F4FD);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.text-down {
    color: var(--cloud, #F4F4FD);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}